<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="~{com/wevserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/wevserver/ui/templates/header-fragment}" />
    <body>
        <section class="section">
            <form
                method="post"
                th:object="${blogCreate}"
                th:action="@{/blog/blog-create}"
            >
                <div class="field">
                    <label class="label">Blog title</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{title}"
                            placeholder="Blog title"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('title')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="field">
                    <label class="label">Blog content</label>
                    <div class="control">
                        <textarea
                            class="textarea"
                            type="text"
                            th:field="*{content}"
                            placeholder="Blog content"
                            rows="10"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('content')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="control">
                    <button type="submit" class="button is-dark">Submit</button>
                </div>
            </form>
        </section>
    </body>
    <footer th:replace="~{com/wevserver/ui/templates/footer-fragment}" />
</html>
