<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title>wevserver.com</title>

    <link rel="stylesheet" href="/ui/bulma-1.0.2/bulma.min.css" />
    <link rel="stylesheet" href="/ui/font-awesome-6.6.0/css/all.min.css" />
</head>
