<!DOCTYPE html>
<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="fa-solid fa-house is-size-4"></i>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <a
                    class="navbar-item"
                    href="/application/application-configuration-view"
                >
                    <i class="fa-solid fa-gear is-size-4"></i>
                </a>
            </div>
        </div>
    </nav>
</header>
