<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="~{com/wevserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/wevserver/ui/templates/header-fragment}" />
    <body>
        <section class="section">
            <form
                method="post"
                th:object="${reservationResourceCreate}"
                th:action="@{/reservation/reservation-resource-create}"
            >
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{name}"
                            placeholder="Name"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('name')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea
                            class="textarea"
                            type="text"
                            th:field="*{description}"
                            placeholder="Description"
                            rows="10"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('description')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="control">
                    <button type="submit" class="button is-dark">Submit</button>
                </div>
            </form>
        </section>
    </body>
    <footer th:replace="~{com/wevserver/ui/templates/footer-fragment}" />
</html>
