<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{com/wevserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/wevserver/ui/templates/header-fragment}" />
    <body>
        <section class="section content">
            <dl>
                <div class="block">
                    <dt class="title is-4 has-text-info">Id</dt>
                    <dd th:text="${reservation.id}">Id</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Version</dt>
                    <dd th:text="${reservation.version}">Version</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Plan Id</dt>
                    <dd th:text="${reservation.planId}">Plan Id</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Name</dt>
                    <dd th:text="${reservation.name}">Name</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Description</dt>
                    <dd th:text="${reservation.description}">Description</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Start At</dt>
                    <dd th:text="${reservation.startAt}">Start At</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">End At</dt>
                    <dd th:text="${reservation.endAt}">End At</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Updated At</dt>
                    <dd th:text="${reservation.updatedAt}">Updated At</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Updated By</dt>
                    <dd th:text="${reservation.updatedBy}">Updated By</dd>
                </div>
            </dl>
        </section>
        <section class="section content">
            <h2 class="title is-2">Action</h2>
            <div class="buttons">
                <a
                    class="button is-dark"
                    th:each="action : ${actions}"
                    th:href="${action}"
                    th:text="${#messages.msgOrNull(action)?:action}"
                    >action</a
                >
            </div>
        </section>
        <section class="section content">
            <h2 class="title is-2">Integration</h2>
            <div class="buttons">
                <a
                    class="button is-dark"
                    th:each="integration : ${integrations}"
                    th:href="${integration}"
                    th:text="${#messages.msgOrNull(integration)?:integration}"
                    >integration</a
                >
            </div>
        </section>
    </body>
    <footer th:replace="~{com/wevserver/ui/templates/footer-fragment}" />
</html>
