<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{com/wevserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/wevserver/ui/templates/header-fragment}" />
    <body>
        <section class="section">
            <div class="container">
                <table
                    class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
                >
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td th:text="${payment.id}">Id</td>
                        </tr>
                        <tr>
                            <th>Version</th>
                            <td th:text="${payment.version}">Version</td>
                        </tr>
                        <tr>
                            <th>Reference Id</th>
                            <td th:text="${payment.referenceId}">
                                Reference Id
                            </td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td th:text="${payment.currency}">Currency</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td th:text="${payment.amount}">Amount</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${payment.name}">Name</td>
                        </tr>
                        <tr>
                            <th>Details</th>
                            <td th:text="${payment.details}">Details</td>
                        </tr>
                        <tr>
                            <th>Updated At</th>
                            <td th:text="${payment.updatedAt}">Updated At</td>
                        </tr>
                        <tr>
                            <th>Updated By</th>
                            <td th:text="${payment.updatedBy}">Updated By</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
    <footer th:replace="~{com/wevserver/ui/templates/footer-fragment}" />
</html>
