<!DOCTYPE html>
<html>
    {{>com/wevserver/ui/templates/head-partial}}
    {{>com/wevserver/ui/templates/header-partial}}
    <body>
        <section class="section">
            <a class="block button is-dark" href="/poll/poll-read/{{poll.id}}">
                <span class="icon is-small">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Poll</span>
            </a>
        </section>
        <section class="section">
            <form
                method="post"
                action="/poll/poll-option-create?pollId={{poll.id}}"
            >
                <div class="field">
                    <label class="label">{{#t}}name{{/t}}</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            name="name"
                            placeholder="{{#t}}submit{{/t}}"
                        />
                    </div>

                    <ul>
                        {{#fieldErrors.name}}
                        <li class="help is-danger">{{.}}</li>
                        {{/fieldErrors.name}}
                    </ul>
                </div>

                <div>
                    <ul>
                        {{#globalErrors}}
                        <li class="help is-danger">{{.}}</li>
                        {{/globalErrors}}
                    </ul>
                </div>

                <div class="control buttons">
                    <button type="submit" class="button">
                        {{#t}}submit{{/t}}
                    </button>
                </div>
            </form>
        </section>
    </body>
    {{>com/wevserver/ui/templates/footer-partial}}
</html>
