<!DOCTYPE html>
<html lang="en">
    {{>com/wevserver/ui/templates/head-partial}}
    {{>com/wevserver/ui/templates/header-partial}}
    <body>
        <nav class="section breadcrumb">
            <ul>
                <li>
                    <a href="/poll/poll-list">Poll</a>
                </li>
                <li class="is-active">
                    <a href="/poll/poll-read/{{poll.id}}">Read</a>
                </li>
            </ul>
        </nav>
        <section class="section content">
            <dl>
                <div class="block">
                    <dt class="label">{{#t}}id{{/t}}</dt>
                    <dd>{{poll.id}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}version{{/t}}</dt>
                    <dd>{{poll.version}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}name{{/t}}</dt>
                    <dd>{{poll.name}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}updated-at{{/t}}</dt>
                    <dd>{{poll.updatedAt}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}updated-by{{/t}}</dt>
                    <dd>{{poll.updatedBy}}</dd>
                </div>
            </dl>
        </section>
        <section class="section">
            <h2 class="title is-2">{{#t}}Actions{{/t}}</h2>
            <div class="buttons">
                <div class="buttons has-addons">
                    <a class="button" href="/poll/poll-option-create/{{id}}">
                        <span class="icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </a>
                    <a
                        class="button is-dark"
                        href="/poll/poll-option-list/{{id}}"
                        >Options
                    </a>
                </div>
            </div>
        </section>
    </body>
    {{>com/wevserver/ui/templates/footer-partial}}
</html>
