<!DOCTYPE html>
<html lang="en">
    {{>com/wevserver/ui/templates/head-partial}}
    {{>com/wevserver/ui/templates/header-partial}}
    <body>
        <section class="section">
            <a class="block button is-dark" href="/poll/poll-read/{{poll.id}}">
                <span class="icon is-small">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Poll</span>
            </a>
        </section>
        <section class="section">
            <p class="block title">{{#t}}Poll Summary{{/t}}</p>
            {{#pollOptions}}
            <div class="box">
                <div class="block tags">
                    <span class="tag">{{id}}</span>
                </div>
                <div class="block">
                    <h4 class="title is-5">{{name}}</h4>
                </div>
                <div class="block tags has-addons">
                    <span class="tag is-dark">Vote Count</span>
                    <span class="tag">{{pollVoteCount}}</span>
                </div>
            </div>
            {{/pollOptions}}
        </section>
        {{>com/wevserver/ui/templates/pagination-partial}}
    </body>
    {{>com/wevserver/ui/templates/footer-partial}}
</html>
