<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{com/wevserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/wevserver/ui/templates/header-fragment}" />
    <body>
        <section class="section content">
            <dl>
                <div class="block">
                    <dt class="title is-4 has-text-info">Id</dt>
                    <dd th:text="${peer.id}">Id</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Version</dt>
                    <dd th:text="${peer.version}">Version</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Host</dt>
                    <dd th:text="${peer.host}">Host</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Path</dt>
                    <dd th:text="${peer.path}">Path</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Inbound</dt>
                    <dd th:text="${peer.inbound}">Inbound</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Outbound</dt>
                    <dd th:text="${peer.outbound}">Outbound</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Updated At</dt>
                    <dd th:text="${peer.updatedAt}">Updated At</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Updated By</dt>
                    <dd th:text="${peer.updatedBy}">Updated By</dd>
                </div>
            </dl>
        </section>
    </body>
    <footer th:replace="~{com/wevserver/ui/templates/footer-fragment}" />
</html>
