<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{com/wevserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/wevserver/ui/templates/header-fragment}" />
    <body>
        <section class="section">
            <form
                th:object="${userRoleCreate}"
                th:action="@{/security/user-role-create}"
                method="post"
            >
                <div class="field">
                    <label class="label">User Id</label>

                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{userId}"
                            placeholder="User id input"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('userId')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="field">
                    <label class="label">Role Id</label>

                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{roleId}"
                            placeholder="Role Id input"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('roleId')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="control">
                    <button type="submit" class="button is-dark">Submit</button>
                </div>
            </form>
        </section>
    </body>
    <footer th:replace="~{com/wevserver/ui/templates/footer-fragment}" />
</html>
