<!DOCTYPE html>
<html lang="en">
    {{>com/wevserver/ui/templates/head-partial}}
    {{>com/wevserver/ui/templates/header-partial}}
    <body>
        <section class="section content">
            <dl>
                <div class="block">
                    <dt class="label">{{#t}}id{{/t}}</dt>
                    <dd>{{email.id}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}version{{/t}}</dt>
                    <dd>{{email.version}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}from{{/t}}</dt>
                    <dd>{{email.from}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}to{{/t}}</dt>
                    <dd>{{email.to}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}subject{{/t}}</dt>
                    <dd>{{email.subject}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}body{{/t}}</dt>
                    <dd>{{email.body}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}updated-at{{/t}}</dt>
                    <dd>{{email.updatedAt}}</dd>
                </div>
                <div class="block">
                    <dt class="label">{{#t}}updated-by{{/t}}</dt>
                    <dd>{{email.updatedBy}}</dd>
                </div>
            </dl>
        </section>
    </body>
    {{>com/wevserver/ui/templates/footer-partial}}
</html>
