<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="~{com/wevserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/wevserver/ui/templates/header-fragment}" />
    <body>
        <section class="section">
            <form
                method="post"
                th:object="${broadcastCreate}"
                th:action="@{/broadcast/broadcast-create}"
            >
                <div class="field">
                    <label class="label">Reference</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{reference}"
                            placeholder="Reference"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('reference')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{name}"
                            placeholder="Name"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('name')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="field">
                    <label class="label">URL</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{url}"
                            placeholder="URL"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('url')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="control">
                    <button type="submit" class="button is-primary">
                        Submit
                    </button>
                </div>
            </form>
        </section>
    </body>
    <footer th:replace="~{com/wevserver/ui/templates/footer-fragment}" />
</html>
