<!DOCTYPE html>
<html lang="en">
    {{>com/wevserver/broadcast/templates/head-partial}}
    {{>com/wevserver/broadcast/templates/header-partial}}
    <body>
        <section class="section content">
            <dl>
                <div class="block">
                    <dt class="title is-4 has-text-info">Id</dt>
                    <dd>{{broadcast.id}}</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Version</dt>
                    <dd>{{broadcast.version}}</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Name</dt>
                    <dd>{{broadcast.name}}</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">URL</dt>
                    <dd>{{broadcast.url}}</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Updated At</dt>
                    <dd>{{broadcast.updatedAt}}</dd>
                </div>
                <div class="block">
                    <dt class="title is-4 has-text-info">Updated By</dt>
                    <dd>{{broadcast.updatedBy}}</dd>
                </div>
            </dl>
        </section>
        <section class="section content">
            <h2 class="title is-2">Action</h2>
            <div class="buttons">
                {{#actions}}
                <a class="button is-dark" href="{{.}}" text="{{.}}">{{.}}</a>
                {{/actions}}
            </div>
        </section>
        <section class="section content">
            <h2 class="title is-2">Integration</h2>
            <div class="buttons">
                {{#integrations}}
                <a class="button is-dark" href="{{.}}">{{.}}</a>
                {{/integrations}}
            </div>
        </section>
    </body>
    {{>com/wevserver/broadcast/templates/footer-fragment}}
</html>
