<!DOCTYPE html>
<html>
    {{>com/wevserver/ui/templates/head-partial}}
    {{>com/wevserver/ui/templates/header-partial}}
    <body>
        <section class="section">
            <form method="post" action="/broadcast/broadcast-create">
                <div class="field">
                    <label class="label">{{#t}}name{{/t}}</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            name="name"
                            placeholder="{{#t}}name{{/t}}"
                        />
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{#t}}URL{{/t}}</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            name="url"
                            placeholder="{{#t}}URL{{/t}}"
                        />
                    </div>
                </div>

                <div class="control">
                    <button type="submit" class="button is-dark">
                        {{#t}}submit{{/t}}
                    </button>
                </div>
            </form>
        </section>
    </body>
    {{>com/wevserver/ui/templates/footer-partial}}
</html>
