<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="~{com/wevserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/wevserver/ui/templates/header-fragment}" />
    <body>
        <section class="section">
            <form
                method="post"
                th:object="${proxyAgentStatus}"
                th:action="@{/proxyagent/proxy-agent-status}"
            >
                <div class="field">
                    <label class="label">Start</label>
                    <input
                        type="checkbox"
                        name="start"
                        th:checked="${proxyAgentStatus.start}"
                    />
                    <ul>
                        <li
                            th:each="error : ${#fields.errors('start')}"
                            th:text="${error}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="control">
                    <button type="submit" class="button is-dark">Submit</button>
                </div>
            </form>
        </section>
    </body>
    <footer th:replace="~{com/wevserver/ui/templates/footer-fragment}" />
</html>
