<!DOCTYPE html>
<html>
    {{>com/wevserver/ui/templates/head-partial}}
    {{>com/wevserver/ui/templates/header-partial}}
    <body>
        <section class="section content">
            <h2 class="title is-2">Favourites</h2>
            <div class="block buttons">
                {{#favourites}}
                {{>com/wevserver/application/templates/application-feature-partial}}
                {{/favourites}}
                <i></i>
            </div>
        </section>
        <section class="section content">
            <h2 class="title is-2">Modules</h2>
            <div class="buttons">
                {{#modules}}
                <a class="button is-dark" href="#{{.}}"
                    >{{#i18n}} {{.}} {{/i18n}}</a
                >
                {{/modules}}
                <i></i>
            </div>
        </section>
        <section class="section content">
            {{#moduleFeatures}}
            <h2 class="title is-2" id="{{name}}">
                <span>{{name}}</span>
                <a
                    class="is-size-4 has-text-grey"
                    href="/application/module-configuration-update/{{name}}"
                >
                    <i class="fa-solid fa-gear"></i>
                </a>
            </h2>
            <div class="block buttons">
                {{#features}}
                {{>com/wevserver/application/templates/application-feature-partial}}
                {{/features}}
                <i></i>
            </div>
            {{/moduleFeatures}}
        </section>
    </body>
    {{>com/wevserver/ui/templates/footer-partial}}
</html>
