<!DOCTYPE html>
<html>
    {{>com/wevserver/ui/templates/head-partial}}
    {{>com/wevserver/ui/templates/header-partial}}
    <body>
        <section class="section content">
            <h2 class="title is-2">Favourites</h2>
            <div class="block buttons">
                {{#favouriteList}}
                <div class="buttons has-addons">
                    <a class="button is-dark" href="{{path}}">{{text}}</a>
                    <form method="post">
                        <input hidden="hidden" name="uri" value="{{path}}" />
                        <input hidden="hidden" name="redirectUri" value="/" />
                        {{#favourite}}
                        <button
                            type="submit"
                            formaction="/session/favorite-uri-delete"
                            class="button"
                        >
                            <span class="icon">
                                <i class="fa-solid fa-bookmark"></i>
                            </span>
                        </button>
                        {{/favourite}} {{^favourite}}
                        <button
                            type="submit"
                            formaction="/session/favorite-uri-create"
                            class="button"
                        >
                            <span class="icon">
                                <i class="fa-regular fa-bookmark"></i>
                            </span>
                        </button>
                        {{/favourite}}
                    </form>
                </div>
                {{/favouriteList}}
                <i></i>
            </div>
        </section>
        <section class="section content">
            <h2 class="title is-2">Modules</h2>
            <div class="buttons">
                {{#moduleList}}
                <a class="button is-dark" href="#{{.}}">{{.}}</a>
                {{/moduleList}}
                <i></i>
            </div>
        </section>
        <section class="section content">
            {{#moduleFeatureList}}
            <h2 class="title is-2" id="{{name}}">
                <span>{{name}}</span>
                <a
                    class="is-size-4 has-text-grey"
                    href="/application/module-configuration-update/{{name}}"
                >
                    <i class="fa-solid fa-gear"></i>
                </a>
            </h2>
            <div class="block buttons">
                {{#featureList}}
                <div class="buttons has-addons">
                    <a class="button is-dark" href="{{path}}">{{text}}</a>
                    <form method="post">
                        <input hidden="hidden" name="uri" value="{{path}}" />
                        <input hidden="hidden" name="redirectUri" value="/" />
                        {{#favourite}}
                        <button
                            type="submit"
                            formaction="/session/favorite-uri-delete"
                            class="button"
                        >
                            <span class="icon">
                                <i class="fa-solid fa-bookmark"></i>
                            </span>
                        </button>
                        {{/favourite}} {{^favourite}}
                        <button
                            type="submit"
                            formaction="/session/favorite-uri-create"
                            class="button"
                        >
                            <span class="icon">
                                <i class="fa-regular fa-bookmark"></i>
                            </span>
                        </button>
                        {{/favourite}}
                    </form>
                </div>
                {{/featureList}}
                <i></i>
            </div>
            {{/moduleFeatureList}}
        </section>
    </body>
    {{>com/wevserver/ui/templates/footer-partial}}
</html>
